<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="header-bar">
    <div class="brand">
      <a class="navbar-brand" href="#">
        Simple Fun
      </a>
    </div>
    <div class="search-box">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="material-icons">search</i>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="nav-links">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item btn btn-link">Action - 1</button>
          <button class="dropdown-item btn btn-link">Another Action</button>
          <button class="dropdown-item btn btn-link">Something else is here</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
